<!-- Copyright (C) 2023 Brennen Chiu -->
{% extends "base/base.html" %}
{% block title %}
    Web Plom - User Progress
{% endblock title %}
{% block page_heading %}
    User progress
{% endblock page_heading %}
{% block main_content %}
    <div>
        {% if annotations_exist %}
            <table class="table text-center align-middle">
                <tr>
                    <th>Username</th>
                    <th>Question Marked</th>
                </tr>
                {% for user, annotation_count in annotation_count_dict.items %}
                    <tr>
                        <td>{{ user }}</td>
                        <td>{{ annotation_count }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <ul class="nav nav-tabs" id="annotationTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="filter-by-user-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#filterByUserTab"
                                type="button"
                                role="tab"
                                aria-controls="filterByUserTab"
                                aria-selected="true">Filter By User</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="filter-by-question-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#filterByQuestionTab"
                                type="button"
                                role="tab"
                                aria-controls="filterByQuestionTab"
                                aria-selected="false">Filter By Question</button>
                    </li>
                </ul>
                <div class="tab-content" id="annotationTabContent">
                    <div class="tab-pane fade show active"
                         id="filterByUserTab"
                         role="tabpanel"
                         aria-labelledby="filter-by-user-tab">
                        <table class="table text-center align-middle sortable">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Question Number</th>
                                    <th>Question Version</th>
                                    <th>Annotations Count</th>
                                    <th>Average Marking Time</th>
                                    <th>Percentage Marked</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user, annotations in annotations_grouped_by_user.items %}
                                    {% for question_data, annotation_data in annotations.items %}
                                        <tr>
                                            <td>{{ user }}</td>
                                            <td>{{ question_data.0 }}</td>
                                            <td>{{ question_data.1 }}</td>
                                            <td>{{ annotation_data.annotations_count }}</td>
                                            <td sorttable_customkey={{ annotation_data.date_format }}>{{ annotation_data.average_marking_time }}
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar"
                                                         role="progressbar"
                                                         style="width: {{ annotation_data.percentage_marked }}%"
                                                         aria-valuenow="{{ annotation_data.percentage_marked }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">
                                                        {{ annotation_data.percentage_marked }}%
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade"
                         id="filterByQuestionTab"
                         role="tabpanel"
                         aria-labelledby="filter-by-question-tab">
                        <table class="table text-center align-middle sortable">
                            <thead>
                                <tr>
                                    <th>Question (Number , Version)</th>
                                    <th>Username</th>
                                    <th>Annotations Count</th>
                                    <th>Average Marking Time</th>
                                    <th>Percentage Marked</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question, annotation_data in annotations_grouped_by_question_num_ver.items %}
                                    {% for annotation in annotation_data.annotations %}
                                        <tr>
                                            <td>{{ question.0 }} , {{ question.1 }}</td>
                                            <td>{{ annotation.marker }}</td>
                                            <td>{{ annotation.annotations_count }}</td>
                                            <td sorttable_customkey={{ annotation.date_format }}>{{ annotation.average_marking_time }}
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar"
                                                         role="progressbar"
                                                         style="width: {{ annotation.percentage_marked }}%"
                                                         aria-valuenow="{{ annotation.percentage_marked }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">{{ annotation.percentage_marked }}%</div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No annotations</p>
        {% endif %}
    </div>
{% endblock main_content %}
