<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Divy Patel
-->
{% load static %}
{% block main_content %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{% static 'js/histogram.js' %}"></script>
    <script>
    parentDiv = this.document.currentScript.parentElement.id;
    renderHist({{ data|safe }}, parentDiv);
    </script>
{% endblock main_content %}
