<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Divy Patel
-->
{% extends "base/base.html" %}
{% load static %}
{% block page_heading %}
    Visualizations
{% endblock page_heading %}
{% block main_content %}
    <div id="hist1">{% include "Visualization/histogram.html" with data=histogram_data %}</div>
    <div id="hist2">{% include "Visualization/histogram.html" with data=histogram_data_2 %}</div>
    <div id="heat1">{% include "Visualization/heat_map.html" with data=heat_map_data %}</div>
    <div id="heat2">{% include "Visualization/heat_map.html" with data=heat_map_data_2 %}</div>
{% endblock main_content %}
