<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
{% block page_heading %}
    Tags
{% endblock page_heading %}
{% block main_content %}
    <body>
        <section>
            <div>
                <h5>Tag filtering form:</h5>
                <form method="post" action="{% url 'tag_filter' %}">
                    {% csrf_token %}
                    {{ text_field_form.as_p }}
                    <button type="submit">Submit</button>
                </form>
                <br>
                <br>
                You are filtering for tags containing &ldquo;{{ tag_filter_text }}&rdquo; with
                strict matching {{ tag_filter_strict }}.
            </div>
        </section>
        <section style="display: flex;">
            <div style="flex: 1;">
                <br>
                <h5>Papers by tags:</h5>
                <br>
                <table class="table table-striped table-bordered sortable"
                       style="width: 95%">
                    <thead>
                        <tr>
                            <th class="id-column" style="width: auto;">Paper ID</th>
                            <th class="tag-column" style="width: auto;">Matching Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, tags in papers.items %}
                            <tr>
                                <td class="id-column">{{ id.paper_number }}</td>
                                <td class="tag-column">
                                    {% for tag in tags %}
                                        {% if tag %}
                                            <a href="{% url 'tag_item' tag.pk %}">{{ tag.text }}</a>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="flex: 1;">
                <br>
                <h5>All tags:</h5>
                <br>
                <table class="table table-striped table-bordered sortable"
                       style="width: 95%">
                    <thead>
                        <tr>
                            <th class="id-column" style="width: auto;">Tags</th>
                            <th class="tag-column" style="width: auto;">Number of uses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag, count in tag_counts.items %}
                            <tr>
                                <td class="id-column">
                                    {% if tag.text %}
                                        <a href="{% url 'tag_item' tag.pk %}">{{ tag.text }}</a>
                                        <br>
                                    {% endif %}
                                </td>
                                <td class="tag-column">{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </body>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock main_content %}
